.container1 {
	margin: 5% auto auto;
	padding: 8% 3% 8% 3%;
	width: 70%;
}
.box1 {

	justify-content: center;
	border-radius: 30px;
	box-shadow: 11px rgb(207,207,207);
	height: 30%;
	margin-top: 5% ;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #C5EFF2;
}
.login_text{
	margin: 0;
}
.log_but {
	width: 60%;
	height: 50px;
	margin-top: 10px;
}
.welcome_text {
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
	color: black;
	text-shadow: 1px 1px 2px #63dbe3;
}

