.container1 {
	margin: 5% auto auto;
	padding: 5% 3% 10% 3%;
	width: 80%;
}
.box {
	justify-content: center;
	border-radius: 30px;
	margin-top: 15% ;
	margin-left: 25%;
	margin-right: 25%;
	background: linear-gradient(to top left ,#fafafa 0%,#F9F9F9 100%);
}
.login_text{
	margin: 0;

}
.log_but {
	width: 48%;
	height: 50px;
	background: linear-gradient(to right, #3F51B5 0%, #6173DB 100%);
}
.button {
	text-align: center;
}

