.container2 {
	margin: 5% auto auto;
	padding: 5% 3% 10% 3%;
	width: 80%;
	}

.box {
	justify-content: center;
	border-radius: 30px;
	box-shadow: 0 0 6px rgba(195, 194, 194, 0.5); 
	margin-top: 15% ;
	margin-left: 25%;
	margin-right: 25%;
	background: linear-gradient(to top left ,#fafafa 0%,#F9F9F9 100%);
}

.signUp {
	margin: 0;
	color: #6173DB;

}

.button_Registration{
	width: 48%;
	height: 50px;
	background: linear-gradient(to right, #3F51B5 0%, #6173DB 100%);
	box-shadow: 0 0 8px rgba(141, 140, 140, 0.5); 
}

.button {
	text-align: center;
}

.links {
	margin-top: 16px;
	text-align: center;
}
